<ul class="nav" role="menu">
	<li class="nav-romansa" role="menuitem"><a href="{{site.baseurl}}tag/romansa/">Romansa</a></li>
    <li class="nav-desain" role="menuitem"><a href="{{site.baseurl}}tag/desain/">Desain</a></li>
	<li class="nav-internet" role="menuitem"><a href="{{site.baseurl}}tag/internet/">Internet</a></li>
	<li class="nav-fiksi" role="menuitem"><a href="{{site.baseurl}}tag/fiksi/">Fiksi</a></li>
 	<li class="nav-kuliner" role="menuitem"><a href="{{site.baseurl}}tag/kuliner/">Kuliner</a></li>
	<li class="nav-tutorial" role="menuitem"><a href="{{site.baseurl}}tag/tutorial/">Tutorial</a></li> 
	<li class="nav-menulis" role="menuitem"><a href="{{site.baseurl}}tag/menulis/">Menulis</a></li>
    <li class="nav-politik" role="menuitem"><a href="{{site.baseurl}}tag/politik/">Politik</a></li>
</ul>